@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter;
}

/* Components  */
.btn {
  @apply text-white font-bold text-sm flex items-center justify-center px-6 py-3 bg-gradient-to-tl from-red-600 to-red-300 rounded-lg text-center w-fit shadow-[10px_10px_30px_0px_rgba(0,0,0,0.30)];
}

.btn-light {
  @apply text-red-600 font-medium text-sm flex items-center justify-center px-6 py-2 bg-white rounded-lg text-center w-fit shadow-[10px_10px_30px_0px_rgba(0,0,0,0.30)];
}

.btn-solid {
  @apply text-white font-medium text-sm flex items-center justify-center px-6 py-2 bg-red-600 rounded-lg text-center w-fit ;
}

.heading-text {
  @apply bg-gradient-to-tl from-red-600 to-red-300 bg-clip-text text-transparent text-2xl md:text-4xl font-semibold;
}

.p-text {
  @apply text-neutral-600 font-light leading-loose;
}

.big-card {
  @apply bg-gradient-to-br from-[#FFFFF] to-[#FFF6F6] py-7 px-12 rounded-4xl border-2 border-red-300 ;
} 

.small-card {
  @apply py-15 px-17 rounded-4xl border-2 border-red-300 flex flex-col gap-3;
} 

.event-card {
  @apply w-[450px] h-[192px] ml-auto bg-gradient-to-br from-[#FF8D8D] to-[#D00000] rounded-3xl shadow-[10px_10px_30px_0px_rgba(0,0,0,0.30)] flex flex-col justify-between items-end py-7 p-10 md:p-0
}

.input-white {
  @apply px-3 py-5 border border-neutral-300 rounded-lg text-sm text-neutral-400 focus:outline-none focus:ring-2 focus:ring-red-400;
}

html {
  scroll-behavior: smooth;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


